/* div.column.header {
    display: flex;
    flex-direction: row;
} */

@media screen and (max-width: 1024px){
    img.is-rounded {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    
}


img.is-rounded {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    height: 100%;

}
div.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
    padding-bottom: 20px;
}

.card-content {
    height: 100%;
}

.card-footer {
    margin-top: auto;
    position: absolute;
    bottom: 0px;
    left: 40%;
}

i.fab {
    margin-top: auto;
    color: lightgray;
    position: relative;
    bottom: 0;

}

i.fab:hover {
    color: #FF0000;
    transition-duration: 1s;
}